backports.tarfile==1.2.0
colorama==0.4.6
effdet==0.4.1
google-cloud-vision==3.7.4
grpcio-status==1.66.1
gtts==2.5.3
h2==3.2.0
hstspreload==2024.9.1
httptools==0.6.1
jaraco.collections==5.1.0
langchain-chroma==0.1.4
langchain-cli==0.0.31
langchain-community==0.3.0
langchain-openai==0.2.0
openai-whisper==20231117
pathos==0.3.2
pi-heif==0.18.0
pikepdf==9.2.1
pip-chill==1.0.3
platformdirs==4.2.2
pyaudio==0.2.14
pyexecjs==1.5.1
pygame==2.6.0
pytest==8.3.3
pyttsx3==2.98
rfc3986==1.5.0
shellingham==1.5.4
sounddevice==0.5.0
sse-starlette==1.8.2
streamlit==1.38.0
tomli==2.0.1
unstructured==0.15.13
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.13
uvloop==0.20.0
watchfiles==0.24.0
webrtcvad==2.0.10
websockets==13.1
whisper==1.1.10
